<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  

  


  

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      Changeset 691b3ea561ef8cb79395be0100f60f93a58c0d43 for system/application/views/news/news.php –
      The Yorker
    </title>
        <link rel="search" href="../../../../../../search.html" />
        <link rel="help" href="../../../../../../wiki/TracGuide.html" />
        <link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/691b3ea561ef8cb79395be0100f60f93a58c0d43/system/application/views/news/news.php?format=diff&new=691b3ea561ef8cb79395be0100f60f93a58c0d43" type="text/plain" class="diff" title="Unified Diff" /><link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/691b3ea561ef8cb79395be0100f60f93a58c0d43/system/application/views/news/news.php?format=zip&new=691b3ea561ef8cb79395be0100f60f93a58c0d43" type="application/zip" class="zip" title="Zip Archive" />
        <link rel="next" href="http://dev2.theyorker.co.uk/trac/changeset/e856b510970bdeafc371a2aad5f150fcc6a96cab/system/application/views/news/news.php" title="Changeset e856b510970bdeafc371a2aad5f150fcc6a96cab for system/application/views/news/news.php" />
        <link rel="start" href="../../../../../../wiki.html" />
        <link rel="stylesheet" href="../../../../../../chrome/common/css/trac.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/changeset.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/diff.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/code.css" type="text/css" />
        <link rel="prev" href="http://dev2.theyorker.co.uk/trac/changeset/bffabc9723c87d18a7716acdc3a31be3b8497abb/system/application/views/news/news.php" title="Changeset bffabc9723c87d18a7716acdc3a31be3b8497abb for system/application/views/news/news.php" />
        <link rel="shortcut icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
        <link rel="icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
      <link type="application/opensearchdescription+xml" rel="search" href="../../../../../../search/opensearch" title="Search The Yorker" />
    <script type="text/javascript" src="../../../../../../chrome/common/js/jquery.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/trac.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/search.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/diff.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/trac/chrome/common/js/ie_pre7_hacks.js"></script>
    <![endif]-->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("li.entry h2 a").parent().addAnchor("Link to this diff");
      });
    </script>
  </head>
  <body>
    <div id="banner">
      <div id="header">
        <a id="logo" href="../../../../../../../trac.html"><img src="../../../../../../../apps-logo.png" alt="The Yorker" /></a>
      </div>
      <form id="search" action="/trac/search" method="get">
        <div>
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" value="" />
          <input type="submit" value="Search" />
        </div>
      </form>
      <div id="metanav" class="nav">
    <ul>
      <li class="first">logged in as nick_evans</li><li><a href="../../../../../../../trac.html">Logout</a></li><li><a href="../../../../../../prefs.html">Preferences</a></li><li><a href="../../../../../../wiki/TracGuide.html">Help/Guide</a></li><li class="last"><a href="../../../../../../about.html">About Trac</a></li>
    </ul>
  </div>
    </div>
    <div id="mainnav" class="nav">
    <ul>
      <li class="first"><a href="../../../../../../wiki.html">Wiki</a></li><li><a href="../../../../../../timeline.html">Timeline</a></li><li><a href="../../../../../../roadmap.html">Roadmap</a></li><li class="active"><a href="../../../../../../browser.html">Browse Source</a></li><li><a href="../../../../../../report.html">View Tickets</a></li><li><a href="../../../../../../newticket.html">New Ticket</a></li><li class="last"><a href="../../../../../../search.html">Search</a></li>
    </ul>
  </div>
    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
          <ul>
            <li class="first "><span>&larr; <a class="prev" href="http://dev2.theyorker.co.uk/trac/changeset/bffabc9723c87d18a7716acdc3a31be3b8497abb/system/application/views/news/news.php" title="Changeset bffabc9723c87d18a7716acdc3a31be3b8497abb for system/application/views/news/news.php">Previous Change</a></span></li><li class="last"><span><a class="next" href="http://dev2.theyorker.co.uk/trac/changeset/e856b510970bdeafc371a2aad5f150fcc6a96cab/system/application/views/news/news.php" title="Changeset e856b510970bdeafc371a2aad5f150fcc6a96cab for system/application/views/news/news.php">Next Change</a> &rarr;</span></li>
          </ul>
        <hr />
      </div>
    <div id="content" class="changeset">
      <div id="title">
        <h1>
          Changeset <a title="Show full changeset" href="../../../../../691b3ea561ef8cb79395be0100f60f93a58c0d43.html">691b3ea561ef8cb79395be0100f60f93a58c0d43</a>
          for <a title="Show entry in browser" href="../../../../../../browser/system/application/views/news/news.php-rev=691b3ea561ef8cb79395be0100f60f93a58c0d43.html">system/application/views/news/news.php</a>
        </h1>
      </div>
      <form id="prefs" action="">
        <div>
    <label for="style">View differences</label>
    <select id="style" name="style">
      <option selected="selected" value="inline">inline</option>
      <option value="sidebyside">side by side</option>
    </select>
    <div class="field">
      Show <input type="text" name="contextlines" id="contextlines" size="2" maxlength="3" value="2" />
      <label for="contextlines">lines around each change</label>
    </div>
    <fieldset id="ignore">
      <legend>Ignore:</legend>
      <div class="field">
        <input type="checkbox" id="ignoreblanklines" name="ignoreblanklines" />
        <label for="ignoreblanklines">Blank lines</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorecase" name="ignorecase" />
        <label for="ignorecase">Case changes</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorewhitespace" name="ignorewhitespace" />
        <label for="ignorewhitespace">White space changes</label>
      </div>
    </fieldset>
    <div class="buttons">
      <input type="submit" name="update" value="Update" />
    </div>
        </div>
      </form>
      <dl id="overview">
          <dt class="property time">Timestamp:</dt>
          <dd class="time">05/09/09 10:45:48 (<a class="timeline" href="../../../../../../timeline-from=2009-05-09T10-45-48Z+0000&precision=second.html" title="2009-05-09T10:45:48Z+0000 in Timeline">6 years</a> ago)</dd>
          <dt class="property author">Author:</dt>
          <dd class="author">root &lt;root@…&gt;</dd>
              <dt class="property">Parents:</dt>
              <dd><a class="changeset" href="../../../../../22334f5310f7cad2a70b011fa1f8d6be9698a15b.html" title="Twitter message formatting">22334f5310f7cad2a70b011fa1f8d6be9698a15b</a></dd>
              <dt class="property">Children:</dt>
              <dd><a class="changeset" href="../../../../../e856b510970bdeafc371a2aad5f150fcc6a96cab.html" title="Updating the graph to include data scaling as the scores are now &gt;100">e856b510970bdeafc371a2aad5f150fcc6a96cab</a></dd>
              <dt class="property">git-committer:</dt>
              <dd>root &lt;root@vps1032webhosting.uk.com&gt; / 2009-05-09T10:45:48Z+0000</dd>
          <dt class="property message">Message:</dt>
          <dd class="message searchable">
            
            
              <p>
Hacked poll so that it works as a free-form competition, needs tidying up after Roses<br />
</p>

            
            
          </dd>
        <dt class="property files">Files:</dt>
        <dd class="files">
          <div class="legend" id="file-legend">
            <dl>
              <dt class="mod"></dt><dd>1 modified</dd>
            </dl>
          </div>
          <br />
          <ul>
            <li>
          <div class="mod"> </div>
            <a title="Show entry in browser" href="../../../../../../browser/system/application/views/news/news.php-rev=691b3ea561ef8cb79395be0100f60f93a58c0d43.html">
              system/application/views/news/news.php
            </a>
          <span class="comment">(modified)</span>
              (<a title="Show differences" href="news.php.html#file0">3 diffs</a>)
            </li>
          </ul>
        </dd>
      </dl>
      <div class="diff">
        <div class="legend" id="diff-legend">
          <h3>Legend:</h3>
          <dl>
            <dt class="unmod"></dt><dd>Unmodified</dd>
            <dt class="add"></dt><dd>Added</dd>
            <dt class="rem"></dt><dd>Removed</dd>
          </dl>
        </div>
        <div class="diff">
  <ul class="entries">
      <li class="entry">
        <h2 id="file0">
          <a title="Show the changeset 691b3ea561ef8cb79395be0100f60f93a58c0d43 restricted to system/application/views/news/news.php" href="news.php.html">system/application/views/news/news.php</a>
        </h2>
        <table class="inline" summary="Differences" cellspacing="0">
              <colgroup><col class="lineno" /><col class="lineno" /><col class="content" /></colgroup>
              <thead>
                <tr>
                  <th title="Revision bffabc9723c87d18a7716acdc3a31be3b8497abb">
                    <a title="Show revision bffabc9723c87d18a7716acdc3a31be3b8497abb of this file in browser" href="../../../../../../browser/system/application/views/news/news.php-rev=bffabc9723c87d18a7716acdc3a31be3b8497abb.html#L138">
                      rbffab</a>
                  </th>
                  <th title="Revision 691b3ea561ef8cb79395be0100f60f93a58c0d43">
                    <a title="Show revision 691b3ea561ef8cb79395be0100f60f93a58c0d43 of this file in browser" href="../../../../../../browser/system/application/views/news/news.php-rev=691b3ea561ef8cb79395be0100f60f93a58c0d43.html#L138">
                      r691b3</a>
                  </th>
                  <th> </th>
                </tr>
              </thead>
            <tbody class="unmod">
                  <tr>
                          <th>138</th><th>138</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;?php if (isset($main_article['article_poll'])) { ?&gt;</span> </td>
                  </tr><tr>
                          <th>139</th><th>139</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php if ($main_article['article_poll']['info']['is_competition']) { ?&gt;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>140</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;form id="competition" action="&lt;?php echo($<del>PHP_SELF</del>); ?&gt;" method="post"&gt;</span> </td>
                      </tr>
                      <tr class="last">
                        <th> </th><th>140</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;form id="competition" action="&lt;?php echo($<ins>_SERVER['PHP_SELF']</ins>); ?&gt;" method="post"&gt;</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>141</th><th>141</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="BlueBox"&gt;</span> </td>
                  </tr><tr>
                          <th>142</th><th>142</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;h2&gt;Competition&lt;/h2&gt;</span> </td>
                  </tr>
            </tbody>
              <tbody class="skipped">
                <tr>
                  <th><a href="../../../../../../browser/system/application/views/news/news.php-rev=bffabc9723c87d18a7716acdc3a31be3b8497abb.html#L148">…</a></th>
                  <th><a href="../../../../../../browser/system/application/views/news/news.php-rev=691b3ea561ef8cb79395be0100f60f93a58c0d43.html#L148">…</a></th>
                  <td> </td>
                </tr>
              </tbody>
            <tbody class="unmod">
                  <tr>
                          <th>148</th><th>148</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;fieldset&gt;</span> </td>
                  </tr><tr>
                          <th>149</th><th>149</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div&gt;</span> </td>
                  </tr>
            </tbody><tbody class="add">
                  <tr class="first">
                          <th> </th><th>150</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="york_score"&gt;York Score:&lt;/label&gt;</ins> </td>
                  </tr><tr>
                          <th> </th><th>151</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="york_score" /&gt;</ins> </td>
                  </tr><tr>
                          <th> </th><th>152</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;br /&gt;</ins> </td>
                  </tr><tr>
                          <th> </th><th>153</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="lancs_score"&gt;Lancaster Score:&lt;/label&gt;</ins> </td>
                  </tr><tr>
                          <th> </th><th>154</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;input type="text" name="lancs_score" /&gt;</ins> </td>
                  </tr><tr>
                          <th> </th><th>155</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;br /&gt;</ins> </td>
                  </tr><tr class="last">
                          <th> </th><th>156</th><td class="r"><ins>&lt;?php /*</ins> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>150</th><th>157</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;label for="comp_answer"&gt;Answer:&lt;/label&gt;</span> </td>
                  </tr><tr>
                          <th>151</th><th>158</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;select name="comp_answer" id="comp_answer" size="1"&gt;</span> </td>
                  </tr>
            </tbody>
              <tbody class="skipped">
                <tr>
                  <th><a href="../../../../../../browser/system/application/views/news/news.php-rev=bffabc9723c87d18a7716acdc3a31be3b8497abb.html#L155">…</a></th>
                  <th><a href="../../../../../../browser/system/application/views/news/news.php-rev=691b3ea561ef8cb79395be0100f60f93a58c0d43.html#L162">…</a></th>
                  <td> </td>
                </tr>
              </tbody>
            <tbody class="unmod">
                  <tr>
                          <th>155</th><th>162</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php } ?&gt;</span> </td>
                  </tr><tr>
                          <th>156</th><th>163</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/select&gt;</span> </td>
                  </tr>
            </tbody><tbody class="add">
                  <tr class="last first">
                          <th> </th><th>164</th><td class="r"><ins>*/ ?&gt;</ins> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>157</th><th>165</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                  </tr><tr>
                          <th>158</th><th>166</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/fieldset&gt;</span> </td>
                  </tr>
            </tbody>
        </table>
      </li>
  </ul>
</div>
      </div>
    </div>
    <div id="altlinks">
      <h3>Download in other formats:</h3>
      <ul>
        <li class="first">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/691b3ea561ef8cb79395be0100f60f93a58c0d43/system/application/views/news/news.php?format=diff&new=691b3ea561ef8cb79395be0100f60f93a58c0d43" class="diff">Unified Diff</a>
        </li><li class="last">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/691b3ea561ef8cb79395be0100f60f93a58c0d43/system/application/views/news/news.php?format=zip&new=691b3ea561ef8cb79395be0100f60f93a58c0d43" class="zip">Zip Archive</a>
        </li>
      </ul>
    </div>
    </div>
    <div id="footer" lang="en" xml:lang="en"><hr />
      <a id="tracpowered" href="http://trac.edgewall.org/"><img src="../../../../../../chrome/common/trac_logo_mini.png" height="30" width="107" alt="Trac Powered" /></a>
      <p class="left">
        Powered by <a href="../../../../../../about.html"><strong>Trac 0.11.1</strong></a><br />
        By <a href="http://www.edgewall.org/">Edgewall Software</a>.
      </p>
      <p class="right">Visit the Trac open source project at<br /><a href="http://trac.edgewall.org/">http://trac.edgewall.org/</a></p>
    </div>
  </body>
</html>