<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  

  


  

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      Changeset 74f9b8ad4e5832c698b0491e795837dbf50d7b22 for system/application/views/homepages/news.php –
      The Yorker
    </title>
        <link rel="search" href="../../../../../../search.html" />
        <link rel="help" href="../../../../../../wiki/TracGuide.html" />
        <link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/74f9b8ad4e5832c698b0491e795837dbf50d7b22/system/application/views/homepages/news.php?format=diff&new=74f9b8ad4e5832c698b0491e795837dbf50d7b22" type="text/plain" class="diff" title="Unified Diff" /><link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/74f9b8ad4e5832c698b0491e795837dbf50d7b22/system/application/views/homepages/news.php?format=zip&new=74f9b8ad4e5832c698b0491e795837dbf50d7b22" type="application/zip" class="zip" title="Zip Archive" />
        <link rel="next" href="http://dev2.theyorker.co.uk/trac/changeset/e8b28510928a9e0e6e20da2572182d918ba51124/system/application/views/homepages/news.php" title="Changeset e8b28510928a9e0e6e20da2572182d918ba51124 for system/application/views/homepages/news.php" />
        <link rel="start" href="../../../../../../wiki.html" />
        <link rel="stylesheet" href="../../../../../../chrome/common/css/trac.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/changeset.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/diff.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/code.css" type="text/css" />
        <link rel="prev" href="http://dev2.theyorker.co.uk/trac/changeset/4196b92dddf33dc8f6f8c474a177dc2b438dfb18/system/application/views/homepages/news.php" title="Changeset 4196b92dddf33dc8f6f8c474a177dc2b438dfb18 for system/application/views/homepages/news.php" />
        <link rel="shortcut icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
        <link rel="icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
      <link type="application/opensearchdescription+xml" rel="search" href="../../../../../../search/opensearch" title="Search The Yorker" />
    <script type="text/javascript" src="../../../../../../chrome/common/js/jquery.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/trac.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/search.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/diff.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/trac/chrome/common/js/ie_pre7_hacks.js"></script>
    <![endif]-->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("li.entry h2 a").parent().addAnchor("Link to this diff");
      });
    </script>
  </head>
  <body>
    <div id="banner">
      <div id="header">
        <a id="logo" href="../../../../../../../trac.html"><img src="../../../../../../../apps-logo.png" alt="The Yorker" /></a>
      </div>
      <form id="search" action="/trac/search" method="get">
        <div>
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" value="" />
          <input type="submit" value="Search" />
        </div>
      </form>
      <div id="metanav" class="nav">
    <ul>
      <li class="first">logged in as nick_evans</li><li><a href="../../../../../../../trac.html">Logout</a></li><li><a href="../../../../../../prefs.html">Preferences</a></li><li><a href="../../../../../../wiki/TracGuide.html">Help/Guide</a></li><li class="last"><a href="../../../../../../about.html">About Trac</a></li>
    </ul>
  </div>
    </div>
    <div id="mainnav" class="nav">
    <ul>
      <li class="first"><a href="../../../../../../wiki.html">Wiki</a></li><li><a href="../../../../../../timeline.html">Timeline</a></li><li><a href="../../../../../../roadmap.html">Roadmap</a></li><li class="active"><a href="../../../../../../browser.html">Browse Source</a></li><li><a href="../../../../../../report.html">View Tickets</a></li><li><a href="../../../../../../newticket.html">New Ticket</a></li><li class="last"><a href="../../../../../../search.html">Search</a></li>
    </ul>
  </div>
    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
          <ul>
            <li class="first "><span>&larr; <a class="prev" href="http://dev2.theyorker.co.uk/trac/changeset/4196b92dddf33dc8f6f8c474a177dc2b438dfb18/system/application/views/homepages/news.php" title="Changeset 4196b92dddf33dc8f6f8c474a177dc2b438dfb18 for system/application/views/homepages/news.php">Previous Change</a></span></li><li class="last"><span><a class="next" href="http://dev2.theyorker.co.uk/trac/changeset/e8b28510928a9e0e6e20da2572182d918ba51124/system/application/views/homepages/news.php" title="Changeset e8b28510928a9e0e6e20da2572182d918ba51124 for system/application/views/homepages/news.php">Next Change</a> &rarr;</span></li>
          </ul>
        <hr />
      </div>
    <div id="content" class="changeset">
      <div id="title">
        <h1>
          Changeset <a title="Show full changeset" href="../../../../../74f9b8ad4e5832c698b0491e795837dbf50d7b22.html">74f9b8ad4e5832c698b0491e795837dbf50d7b22</a>
          for <a title="Show entry in browser" href="../../../../../../browser/system/application/views/homepages/news.php-rev=74f9b8ad4e5832c698b0491e795837dbf50d7b22.html">system/application/views/homepages/news.php</a>
        </h1>
      </div>
      <form id="prefs" action="">
        <div>
    <label for="style">View differences</label>
    <select id="style" name="style">
      <option selected="selected" value="inline">inline</option>
      <option value="sidebyside">side by side</option>
    </select>
    <div class="field">
      Show <input type="text" name="contextlines" id="contextlines" size="2" maxlength="3" value="2" />
      <label for="contextlines">lines around each change</label>
    </div>
    <fieldset id="ignore">
      <legend>Ignore:</legend>
      <div class="field">
        <input type="checkbox" id="ignoreblanklines" name="ignoreblanklines" />
        <label for="ignoreblanklines">Blank lines</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorecase" name="ignorecase" />
        <label for="ignorecase">Case changes</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorewhitespace" name="ignorewhitespace" />
        <label for="ignorewhitespace">White space changes</label>
      </div>
    </fieldset>
    <div class="buttons">
      <input type="submit" name="update" value="Update" />
    </div>
        </div>
      </form>
      <dl id="overview">
          <dt class="property time">Timestamp:</dt>
          <dd class="time">06/02/09 02:11:44 (<a class="timeline" href="../../../../../../timeline-from=2009-06-02T02-11-44Z+0000&precision=second.html" title="2009-06-02T02:11:44Z+0000 in Timeline">6 years</a> ago)</dd>
          <dt class="property author">Author:</dt>
          <dd class="author">root &lt;root@…&gt;</dd>
              <dt class="property">git-author:</dt>
              <dd>Chris Travis &lt;ctravis@gmail.com&gt; / 2009-06-02T02:11:44Z+0000</dd>
              <dt class="property">Parents:</dt>
              <dd><a class="changeset" href="../../../../../72018abf36211f2ffd15a50b98b5d9b365d5c3df.html" title="Fixing wikitoolbar javascript for inserting media files">72018abf36211f2ffd15a50b98b5d9b365d5c3df</a></dd>
              <dt class="property">Children:</dt>
              <dd><a class="changeset" href="../../../../../e8b28510928a9e0e6e20da2572182d918ba51124.html" title="Making the crosswords take up less space on the homepage by listing them  ...">e8b28510928a9e0e6e20da2572182d918ba51124</a></dd>
              <dt class="property">git-committer:</dt>
              <dd>root &lt;root@theyorker.co.uk&gt; / 2009-06-02T02:11:44Z+0000</dd>
          <dt class="property message">Message:</dt>
          <dd class="message searchable">
            
            
              <p>
New news homepage<br />
</p>

            
            
          </dd>
        <dt class="property files">Files:</dt>
        <dd class="files">
          <div class="legend" id="file-legend">
            <dl>
              <dt class="mod"></dt><dd>1 modified</dd>
            </dl>
          </div>
          <br />
          <ul>
            <li>
          <div class="mod"> </div>
            <a title="Show entry in browser" href="../../../../../../browser/system/application/views/homepages/news.php-rev=74f9b8ad4e5832c698b0491e795837dbf50d7b22.html">
              system/application/views/homepages/news.php
            </a>
          <span class="comment">(modified)</span>
              (<a title="Show differences" href="news.php.html#file0">2 diffs</a>)
            </li>
          </ul>
        </dd>
      </dl>
      <div class="diff">
        <div class="legend" id="diff-legend">
          <h3>Legend:</h3>
          <dl>
            <dt class="unmod"></dt><dd>Unmodified</dd>
            <dt class="add"></dt><dd>Added</dd>
            <dt class="rem"></dt><dd>Removed</dd>
          </dl>
        </div>
        <div class="diff">
  <ul class="entries">
      <li class="entry">
        <h2 id="file0">
          <a title="Show the changeset 74f9b8ad4e5832c698b0491e795837dbf50d7b22 restricted to system/application/views/homepages/news.php" href="news.php.html">system/application/views/homepages/news.php</a>
        </h2>
        <table class="inline" summary="Differences" cellspacing="0">
              <colgroup><col class="lineno" /><col class="lineno" /><col class="content" /></colgroup>
              <thead>
                <tr>
                  <th title="Revision 4196b92dddf33dc8f6f8c474a177dc2b438dfb18">
                    <a title="Show revision 4196b92dddf33dc8f6f8c474a177dc2b438dfb18 of this file in browser" href="../../../../../../browser/system/application/views/homepages/news.php-rev=4196b92dddf33dc8f6f8c474a177dc2b438dfb18.html#L1">
                      r4196b</a>
                  </th>
                  <th title="Revision 74f9b8ad4e5832c698b0491e795837dbf50d7b22">
                    <a title="Show revision 74f9b8ad4e5832c698b0491e795837dbf50d7b22 of this file in browser" href="../../../../../../browser/system/application/views/homepages/news.php-rev=74f9b8ad4e5832c698b0491e795837dbf50d7b22.html#L1">
                      r74f9b</a>
                  </th>
                  <th> </th>
                </tr>
              </thead>
            <tbody class="add">
                  <tr class="last first">
                          <th> </th><th>1</th><td class="r"><ins>&lt;?php if (!empty($spotlight)) { ?&gt;</ins> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>1</th><th>2</th><td class="l"><span>&lt;div class="FlexiBox Box23"&gt;</span> </td>
                  </tr><tr>
                          <th>2</th><th>3</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="DisplayBox"&gt;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>3</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="DisplayBoxBg"&gt;&lt;?php echo(xml_escape($<del>main_articles[0]['heading</del>'])); ?&gt;&lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th>4</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="DisplayBoxText"&gt;&lt;a href="/news/&lt;?php echo(xml_escape($<del>main_articles[0]['article_type'] . '/' . $main_articles[0]['id'])); ?&gt;"&gt;&lt;?php echo(xml_escape($main_articles[0]['heading</del>'])); ?&gt;&lt;/a&gt;&lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th>5</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo(xml_escape($<del>main_articles[0]['article_type'] . '/' . $main_articles[0]['id'])); ?&gt;"&gt;&lt;img src="/photos/home/&lt;?php echo(xml_escape($main_articles</del>[0]['photo_id'])); ?&gt;" alt="" /&gt;&lt;/a&gt;</span> </td>
                      </tr>
                      <tr>
                        <th> </th><th>4</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="DisplayBoxBg"&gt;&lt;?php echo(xml_escape($<ins>spotlight[0]['headline</ins>'])); ?&gt;&lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>5</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="DisplayBoxText"&gt;&lt;a href="/news/&lt;?php echo(xml_escape($<ins>spotlight[0]['id'])); ?&gt;"&gt;&lt;?php echo(xml_escape($spotlight[0]['headline</ins>'])); ?&gt;&lt;/a&gt;&lt;/div&gt;</span> </td>
                      </tr><tr class="last">
                        <th> </th><th>6</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo(xml_escape($<ins>spotlight[0]['id'])); ?&gt;"&gt;&lt;img src="/photos/home/&lt;?php echo(xml_escape($spotlight</ins>[0]['photo_id'])); ?&gt;" alt="" /&gt;&lt;/a&gt;</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>6</th><th>7</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                  </tr><tr>
                          <th>7</th><th>8</th><td class="l"><span>&lt;/div&gt;</span> </td>
                  </tr>
            </tbody><tbody class="add">
                  <tr class="last first">
                          <th> </th><th>9</th><td class="r"><ins>&lt;?php } ?&gt;</ins> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>8</th><th>10</th><td class="l"><span></span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>9</th><th> </th><td class="l"><span>&lt;?php function <del>ArticleList ($section, $articles, $last = false</del>) {</span> </td>
                      </tr><tr>
                        <th>10</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; if (<del>count($articles) == 0</del>) return; ?&gt;</span> </td>
                      </tr><tr>
                        <th>11</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="ArticleListBox FlexiBox Box1<del>2&lt;?php if ($last) echo(' FlexiBoxLast'); ?&gt;</del>"&gt;</span> </td>
                      </tr>
                      <tr>
                        <th> </th><th>11</th><td class="r"><span>&lt;?php function <ins>SpecialList ($section, $articles</ins>) {</span> </td>
                      </tr><tr>
                        <th> </th><th>12</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; if (<ins>empty($articles)</ins>) return; ?&gt;</span> </td>
                      </tr><tr class="last">
                        <th> </th><th>13</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="ArticleListBox FlexiBox Box1<ins>3 FlexiBoxLast" style="float:right;clear:right;</ins>"&gt;</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>12</th><th>14</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="ArticleListTitle"&gt;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>13</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo($articles[0]['article_type'] . '/' . $articles[0]['id']); ?&gt;"&gt;latest &lt;?php echo($section); ?&gt;&lt;/a&gt;</span> </td>
                      </tr>
                      <tr>
                        <th> </th><th>15</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo($articles[0]['id']); ?&gt;"&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>16</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php echo(xml_escape($section)); ?&gt;</span> </td>
                      </tr><tr class="last">
                        <th> </th><th>17</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/a&gt;</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>14</th><th>18</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                  </tr><tr>
                          <th>15</th><th>19</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php foreach ($articles as $article) { ?&gt;</span> </td>
                  </tr><tr>
                          <th>16</th><th>20</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div&gt;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>17</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo(xml_escape($article['<del>article_type'] . '/' . $article['</del>id'])); ?&gt;"&gt;</span> </td>
                      </tr>
                      <tr class="last">
                        <th> </th><th>21</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo(xml_escape($article['<ins></ins>id'])); ?&gt;"&gt;</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>18</th><th>22</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;img src="/photos/small/&lt;?php echo(xml_escape($article['photo_id'])); ?&gt;" alt="&lt;?php echo(xml_escape($article['photo_title'])); ?&gt;" title="&lt;?php echo(xml_escape($article['photo_title'])); ?&gt;" /&gt;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>19</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php echo(xml_escape($article['head<del>ing</del>'])); ?&gt;</span> </td>
                      </tr>
                      <tr class="last">
                        <th> </th><th>23</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php echo(xml_escape($article['head<ins>line</ins>'])); ?&gt;</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>20</th><th>24</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/a&gt;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>21</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="Date"&gt;&lt;?php echo(xml_escape($article['date'])); ?&gt;&lt;/div&gt;</span> </td>
                      </tr>
                      <tr>
                        <th> </th><th>25</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="Date"&gt;&lt;?php echo(xml_escape(date('l, jS F Y', $article['date']))); ?&gt;&lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>26</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="clear"&gt;&lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>27</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>28</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php } ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>29</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>30</th><td class="r"><span>&lt;?php } ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>31</th><td class="r"><span></span> </td>
                      </tr><tr>
                        <th> </th><th>32</th><td class="r"><span>&lt;?php</span> </td>
                      </tr><tr>
                        <th> </th><th>33</th><td class="r"><span>SpecialList($features['title'], $features['articles']);</span> </td>
                      </tr><tr>
                        <th> </th><th>34</th><td class="r"><span>?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>35</th><td class="r"><span></span> </td>
                      </tr><tr>
                        <th> </th><th>36</th><td class="r"><span>&lt;?php function ArticleList ($section, $articles, $last = false) {</span> </td>
                      </tr><tr>
                        <th> </th><th>37</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; if (empty($articles)) return; ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>38</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="ArticleListBox FlexiBox Box23&lt;?php if ($last) echo(' FlexiBoxLast'); ?&gt;"&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>39</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="ArticleListTitle"&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>40</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo($articles[0]['id']); ?&gt;"&gt;&lt;?php echo($section); ?&gt;&lt;/a&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>41</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>42</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php foreach ($articles as $article) { ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>43</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div style="width:50%;float:left;"&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>44</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;a href="/news/&lt;?php echo(xml_escape($article['id'])); ?&gt;"&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>45</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;img src="/photos/small/&lt;?php echo(xml_escape($article['photo_id'])); ?&gt;" alt="&lt;?php echo(xml_escape($article['photo_title'])); ?&gt;" title="&lt;?php echo(xml_escape($article['photo_title'])); ?&gt;" /&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>46</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;?php echo(xml_escape($article['headline'])); ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>47</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/a&gt;</span> </td>
                      </tr><tr class="last">
                        <th> </th><th>48</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="Date"&gt;&lt;?php echo(xml_escape(date('l, jS F Y', $article['date']))); ?&gt;&lt;/div&gt;</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>22</th><th>49</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;div class="clear"&gt;&lt;/div&gt;</span> </td>
                  </tr><tr>
                          <th>23</th><th>50</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                  </tr>
            </tbody>
              <tbody class="skipped">
                <tr>
                  <th><a href="../../../../../../browser/system/application/views/homepages/news.php-rev=4196b92dddf33dc8f6f8c474a177dc2b438dfb18.html#L29">…</a></th>
                  <th><a href="../../../../../../browser/system/application/views/homepages/news.php-rev=74f9b8ad4e5832c698b0491e795837dbf50d7b22.html#L56">…</a></th>
                  <td> </td>
                </tr>
              </tbody>
            <tbody class="unmod">
                  <tr>
                          <th>29</th><th>56</th><td class="l"><span>&lt;?php</span> </td>
                  </tr><tr>
                          <th>30</th><th>57</th><td class="l"><span>$column = 0;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>31</th><th> </th><td class="l"><span>foreach ($section<del>_articles as $section =&gt; $articles</del>) {</span> </td>
                      </tr>
                      <tr class="last">
                        <th> </th><th>58</th><td class="r"><span>foreach ($section<ins>s as $section</ins>) {</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>32</th><th>59</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; $column++;</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>33</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; ArticleList($section<del>, $articles, ($column % 2</del>) == 0 ? true : false);</span> </td>
                      </tr>
                      <tr class="last">
                        <th> </th><th>60</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; ArticleList($section<ins>['title'], $section['articles'], ($column % 3</ins>) == 0 ? true : false);</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>34</th><th>61</th><td class="l"><span>}</span> </td>
                  </tr>
            </tbody><tbody class="add">
                  <tr class="first">
                          <th> </th><th>62</th><td class="r"><ins></ins> </td>
                  </tr><tr>
                          <th> </th><th>63</th><td class="r"><ins>SpecialList($blogs['title'], $blogs['articles']);</ins> </td>
                  </tr><tr class="last">
                          <th> </th><th>64</th><td class="r"><ins></ins> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>35</th><th>65</th><td class="l"><span>?&gt;</span> </td>
                  </tr><tr>
                          <th>36</th><th>66</th><td class="l"><span>&lt;div class="clear"&gt;&lt;/div&gt;</span> </td>
                  </tr>
            </tbody>
        </table>
      </li>
  </ul>
</div>
      </div>
    </div>
    <div id="altlinks">
      <h3>Download in other formats:</h3>
      <ul>
        <li class="first">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/74f9b8ad4e5832c698b0491e795837dbf50d7b22/system/application/views/homepages/news.php?format=diff&new=74f9b8ad4e5832c698b0491e795837dbf50d7b22" class="diff">Unified Diff</a>
        </li><li class="last">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/74f9b8ad4e5832c698b0491e795837dbf50d7b22/system/application/views/homepages/news.php?format=zip&new=74f9b8ad4e5832c698b0491e795837dbf50d7b22" class="zip">Zip Archive</a>
        </li>
      </ul>
    </div>
    </div>
    <div id="footer" lang="en" xml:lang="en"><hr />
      <a id="tracpowered" href="http://trac.edgewall.org/"><img src="../../../../../../chrome/common/trac_logo_mini.png" height="30" width="107" alt="Trac Powered" /></a>
      <p class="left">
        Powered by <a href="../../../../../../about.html"><strong>Trac 0.11.1</strong></a><br />
        By <a href="http://www.edgewall.org/">Edgewall Software</a>.
      </p>
      <p class="right">Visit the Trac open source project at<br /><a href="http://trac.edgewall.org/">http://trac.edgewall.org/</a></p>
    </div>
  </body>
</html>