<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  

  


  

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      Changeset 093571abf748ac14e0ecc8f5617c52ac6fa82284 for system/application/views/frames/office_frame.php –
      The Yorker
    </title>
        <link rel="search" href="../../../../../../search.html" />
        <link rel="help" href="../../../../../../wiki/TracGuide.html" />
        <link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/093571abf748ac14e0ecc8f5617c52ac6fa82284/system/application/views/frames/office_frame.php?format=diff&new=093571abf748ac14e0ecc8f5617c52ac6fa82284" type="text/plain" class="diff" title="Unified Diff" /><link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/093571abf748ac14e0ecc8f5617c52ac6fa82284/system/application/views/frames/office_frame.php?format=zip&new=093571abf748ac14e0ecc8f5617c52ac6fa82284" type="application/zip" class="zip" title="Zip Archive" />
        <link rel="next" href="../../../../../bb5df0147bda28c6c6321200d7dd872b183da402/system/application/views/frames/office_frame.php.html" title="Changeset bb5df0147bda28c6c6321200d7dd872b183da402 for system/application/views/frames/office_frame.php" />
        <link rel="start" href="../../../../../../wiki.html" />
        <link rel="stylesheet" href="../../../../../../chrome/common/css/trac.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/changeset.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/diff.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/code.css" type="text/css" />
        <link rel="prev" href="http://dev2.theyorker.co.uk/trac/changeset/ed47f54b421284966d39e2bef38df3a5ca6156a2/system/application/views/frames/office_frame.php" title="Changeset ed47f54b421284966d39e2bef38df3a5ca6156a2 for system/application/views/frames/office_frame.php" />
        <link rel="shortcut icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
        <link rel="icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
      <link type="application/opensearchdescription+xml" rel="search" href="../../../../../../search/opensearch" title="Search The Yorker" />
    <script type="text/javascript" src="../../../../../../chrome/common/js/jquery.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/trac.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/search.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/diff.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/trac/chrome/common/js/ie_pre7_hacks.js"></script>
    <![endif]-->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("li.entry h2 a").parent().addAnchor("Link to this diff");
      });
    </script>
  </head>
  <body>
    <div id="banner">
      <div id="header">
        <a id="logo" href="../../../../../../../trac.html"><img src="../../../../../../../apps-logo.png" alt="The Yorker" /></a>
      </div>
      <form id="search" action="/trac/search" method="get">
        <div>
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" value="" />
          <input type="submit" value="Search" />
        </div>
      </form>
      <div id="metanav" class="nav">
    <ul>
      <li class="first">logged in as nick_evans</li><li><a href="../../../../../../../trac.html">Logout</a></li><li><a href="../../../../../../prefs.html">Preferences</a></li><li><a href="../../../../../../wiki/TracGuide.html">Help/Guide</a></li><li class="last"><a href="../../../../../../about.html">About Trac</a></li>
    </ul>
  </div>
    </div>
    <div id="mainnav" class="nav">
    <ul>
      <li class="first"><a href="../../../../../../wiki.html">Wiki</a></li><li><a href="../../../../../../timeline.html">Timeline</a></li><li><a href="../../../../../../roadmap.html">Roadmap</a></li><li class="active"><a href="../../../../../../browser.html">Browse Source</a></li><li><a href="../../../../../../report.html">View Tickets</a></li><li><a href="../../../../../../newticket.html">New Ticket</a></li><li class="last"><a href="../../../../../../search.html">Search</a></li>
    </ul>
  </div>
    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
          <ul>
            <li class="first "><span>&larr; <a class="prev" href="http://dev2.theyorker.co.uk/trac/changeset/ed47f54b421284966d39e2bef38df3a5ca6156a2/system/application/views/frames/office_frame.php" title="Changeset ed47f54b421284966d39e2bef38df3a5ca6156a2 for system/application/views/frames/office_frame.php">Previous Change</a></span></li><li class="last"><span><a class="next" href="../../../../../bb5df0147bda28c6c6321200d7dd872b183da402/system/application/views/frames/office_frame.php.html" title="Changeset bb5df0147bda28c6c6321200d7dd872b183da402 for system/application/views/frames/office_frame.php">Next Change</a> &rarr;</span></li>
          </ul>
        <hr />
      </div>
    <div id="content" class="changeset">
      <div id="title">
        <h1>
          Changeset <a title="Show full changeset" href="../../../../../093571abf748ac14e0ecc8f5617c52ac6fa82284.html">093571abf748ac14e0ecc8f5617c52ac6fa82284</a>
          for <a title="Show entry in browser" href="../../../../../../browser/system/application/views/frames/office_frame.php-rev=093571abf748ac14e0ecc8f5617c52ac6fa82284.html">system/application/views/frames/office_frame.php</a>
        </h1>
      </div>
      <form id="prefs" action="">
        <div>
    <label for="style">View differences</label>
    <select id="style" name="style">
      <option selected="selected" value="inline">inline</option>
      <option value="sidebyside">side by side</option>
    </select>
    <div class="field">
      Show <input type="text" name="contextlines" id="contextlines" size="2" maxlength="3" value="2" />
      <label for="contextlines">lines around each change</label>
    </div>
    <fieldset id="ignore">
      <legend>Ignore:</legend>
      <div class="field">
        <input type="checkbox" id="ignoreblanklines" name="ignoreblanklines" />
        <label for="ignoreblanklines">Blank lines</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorecase" name="ignorecase" />
        <label for="ignorecase">Case changes</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorewhitespace" name="ignorewhitespace" />
        <label for="ignorewhitespace">White space changes</label>
      </div>
    </fieldset>
    <div class="buttons">
      <input type="submit" name="update" value="Update" />
    </div>
        </div>
      </form>
      <dl id="overview">
          <dt class="property time">Timestamp:</dt>
          <dd class="time">06/21/09 22:50:12 (<a class="timeline" href="../../../../../../timeline-from=2009-06-21T22-50-12Z+0000&precision=second.html" title="2009-06-21T22:50:12Z+0000 in Timeline">6 years</a> ago)</dd>
          <dt class="property author">Author:</dt>
          <dd class="author">Chris Travis &lt;ctravis@…&gt;</dd>
              <dt class="property">Parents:</dt>
              <dd><a class="changeset" href="../../../../../1f5c6794212fd84fca356f47adbddad9d2c5e910.html" title="Fixing typo">1f5c6794212fd84fca356f47adbddad9d2c5e910</a></dd>
              <dt class="property">Children:</dt>
              <dd><a class="changeset" href="../../../../../bb5df0147bda28c6c6321200d7dd872b183da402.html" title="Basic what's on page, what's on office calendar adder">bb5df0147bda28c6c6321200d7dd872b183da402</a></dd>
              <dt class="property">git-committer:</dt>
              <dd>Chris Travis &lt;ctravis@gmail.com&gt; / 2009-06-21T23:50:12Z+0100</dd>
          <dt class="property message">Message:</dt>
          <dd class="message searchable">
            
            
              <p>
Putting all the office links into the respective tabs so that users can easily access them. Making the right tabs be selected depending on which tool you are using.<br />
</p>

            
            
          </dd>
        <dt class="property files">Files:</dt>
        <dd class="files">
          <div class="legend" id="file-legend">
            <dl>
              <dt class="mod"></dt><dd>1 modified</dd>
            </dl>
          </div>
          <br />
          <ul>
            <li>
          <div class="mod"> </div>
            <a title="Show entry in browser" href="../../../../../../browser/system/application/views/frames/office_frame.php-rev=093571abf748ac14e0ecc8f5617c52ac6fa82284.html">
              system/application/views/frames/office_frame.php
            </a>
          <span class="comment">(modified)</span>
              (<a title="Show differences" href="office_frame.php.html#file0">2 diffs</a>)
            </li>
          </ul>
        </dd>
      </dl>
      <div class="diff">
        <div class="legend" id="diff-legend">
          <h3>Legend:</h3>
          <dl>
            <dt class="unmod"></dt><dd>Unmodified</dd>
            <dt class="add"></dt><dd>Added</dd>
            <dt class="rem"></dt><dd>Removed</dd>
          </dl>
        </div>
        <div class="diff">
  <ul class="entries">
      <li class="entry">
        <h2 id="file0">
          <a title="Show the changeset 093571abf748ac14e0ecc8f5617c52ac6fa82284 restricted to system/application/views/frames/office_frame.php" href="office_frame.php.html">system/application/views/frames/office_frame.php</a>
        </h2>
        <table class="inline" summary="Differences" cellspacing="0">
              <colgroup><col class="lineno" /><col class="lineno" /><col class="content" /></colgroup>
              <thead>
                <tr>
                  <th title="Revision ed47f54b421284966d39e2bef38df3a5ca6156a2">
                    <a title="Show revision ed47f54b421284966d39e2bef38df3a5ca6156a2 of this file in browser" href="../../../../../../browser/system/application/views/frames/office_frame.php-rev=ed47f54b421284966d39e2bef38df3a5ca6156a2.html#L105">
                      red47f</a>
                  </th>
                  <th title="Revision 093571abf748ac14e0ecc8f5617c52ac6fa82284">
                    <a title="Show revision 093571abf748ac14e0ecc8f5617c52ac6fa82284 of this file in browser" href="../../../../../../browser/system/application/views/frames/office_frame.php-rev=093571abf748ac14e0ecc8f5617c52ac6fa82284.html#L105">
                      r09357</a>
                  </th>
                  <th> </th>
                </tr>
              </thead>
            <tbody class="unmod">
                  <tr>
                          <th>105</th><th>105</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                  </tr><tr>
                          <th>106</th><th>106</th><td class="l"><span></span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>107</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="Navigation"&gt;</span> </td>
                      </tr><tr>
                        <th>108</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul id="Tabs" class="next"&gt;</span> </td>
                      </tr>
                      <tr>
                        <th> </th><th>107</th><td class="r"><span>&lt;?php</span> </td>
                      </tr><tr>
                        <th> </th><th>108</th><td class="r"><span>$menu = array(</span> </td>
                      </tr><tr>
                        <th> </th><th>109</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; array('home', '/office', array('first')),</span> </td>
                      </tr><tr>
                        <th> </th><th>110</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; array('articles', '/office/articles', array()),</span> </td>
                      </tr><tr>
                        <th> </th><th>111</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; array('gallery', '/office/gallery', array()),</span> </td>
                      </tr><tr>
                        <th> </th><th>112</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; array('business', '/office/business', array()),</span> </td>
                      </tr><tr>
                        <th> </th><th>113</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; array('admin', '/admin', array('last'))</span> </td>
                      </tr><tr>
                        <th> </th><th>114</th><td class="r"><span>);</span> </td>
                      </tr><tr>
                        <th> </th><th>115</th><td class="r"><span>// Has a tab been set as selected?</span> </td>
                      </tr><tr>
                        <th> </th><th>116</th><td class="r"><span>$menu_style = '';</span> </td>
                      </tr><tr>
                        <th> </th><th>117</th><td class="r"><span>if (!empty($menu_tab)) {</span> </td>
                      </tr><tr>
                        <th> </th><th>118</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; $menu_key = null;</span> </td>
                      </tr><tr>
                        <th> </th><th>119</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; for ($x = 0; $x &lt; count($menu); $x++) {</span> </td>
                      </tr><tr>
                        <th> </th><th>120</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if ($menu[$x][0] == $menu_tab) {</span> </td>
                      </tr><tr>
                        <th> </th><th>121</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $menu_key = $x;</span> </td>
                      </tr><tr>
                        <th> </th><th>122</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; break;</span> </td>
                      </tr><tr>
                        <th> </th><th>123</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</span> </td>
                      </tr><tr>
                        <th> </th><th>124</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; }</span> </td>
                      </tr><tr>
                        <th> </th><th>125</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; if ($menu_key !== null) {</span> </td>
                      </tr><tr>
                        <th> </th><th>126</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $menu[$menu_key][2][] = 'current';</span> </td>
                      </tr><tr>
                        <th> </th><th>127</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; if (($menu_key - 1) &gt; -1) {</span> </td>
                      </tr><tr>
                        <th> </th><th>128</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $menu[$menu_key - 1][2][] = 'next';</span> </td>
                      </tr><tr>
                        <th> </th><th>129</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; } else {</span> </td>
                      </tr><tr>
                        <th> </th><th>130</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $menu_style = 'next';</span> </td>
                      </tr><tr>
                        <th> </th><th>131</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</span> </td>
                      </tr><tr>
                        <th> </th><th>132</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; }</span> </td>
                      </tr><tr>
                        <th> </th><th>133</th><td class="r"><span>}</span> </td>
                      </tr><tr>
                        <th> </th><th>134</th><td class="r"><span>?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>135</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="Navigation"&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>136</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;ul id="Tabs"&lt;?php if (!empty($menu_style)) echo(' class="' . $menu_style . '"'); ?&gt;&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>137</th><td class="r"><span>&lt;?php foreach ($menu as $tab) { ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>138</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&lt;?php if (!empty($tab[2])) echo(' class="' . implode(' ', $tab[2]) . '"'); ?&gt;&gt;&lt;a href="&lt;?php echo($tab[1]); ?&gt;"&gt;&lt;?php echo($tab[0]); ?&gt;&lt;/a&gt;&lt;/li&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>139</th><td class="r"><span>&lt;?php } ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>140</th><td class="r"><span>&lt;?php foreach ($links as $link) { ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>141</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class="link"&gt;&lt;?php echo($link); ?&gt;&lt;/li&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>142</th><td class="r"><span>&lt;?php } ?&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>143</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;</span> </td>
                      </tr><tr>
                        <th> </th><th>144</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</span> </td>
                      </tr><tr class="last">
                        <th> </th><th>145</th><td class="r"><span></span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>109</th><th>146</th><td class="l"><span>&lt;!--</span> </td>
                  </tr><tr>
                          <th>110</th><th>147</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class="first next"&gt;&lt;a href="/"&gt;Public Site&lt;/a&gt;&lt;/li&gt;</span> </td>
                  </tr>
            </tbody>
              <tbody class="skipped">
                <tr>
                  <th><a href="../../../../../../browser/system/application/views/frames/office_frame.php-rev=ed47f54b421284966d39e2bef38df3a5ca6156a2.html#L112">…</a></th>
                  <th><a href="../../../../../../browser/system/application/views/frames/office_frame.php-rev=093571abf748ac14e0ecc8f5617c52ac6fa82284.html#L149">…</a></th>
                  <td> </td>
                </tr>
              </tbody>
            <tbody class="unmod">
                  <tr>
                          <th>112</th><th>149</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class="last"&gt;&lt;a href="http://mail.theyorker.co.uk"&gt;Webmail&lt;/a&gt;&lt;/li&gt;</span> </td>
                  </tr><tr>
                          <th>113</th><th>150</th><td class="l"><span>--&gt;</span> </td>
                  </tr>
            </tbody><tbody class="rem">
                  <tr class="first">
                          <th>114</th><th> </th><td class="l"><del>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class="first current"&gt;&lt;a href="/office"&gt;home&lt;/a&gt;&lt;/li&gt;</del> </td>
                  </tr><tr>
                          <th>115</th><th> </th><td class="l"><del>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="/office/articles"&gt;articles&lt;/a&gt;&lt;/li&gt;</del> </td>
                  </tr><tr>
                          <th>116</th><th> </th><td class="l"><del>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="/office/gallery"&gt;gallery&lt;/a&gt;&lt;/li&gt;</del> </td>
                  </tr><tr>
                          <th>117</th><th> </th><td class="l"><del>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li&gt;&lt;a href="/office/business"&gt;business&lt;/a&gt;&lt;/li&gt;</del> </td>
                  </tr><tr>
                          <th>118</th><th> </th><td class="l"><del>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;li class="last"&gt;&lt;a href="/office/admin"&gt;admin&lt;/a&gt;&lt;/li&gt;</del> </td>
                  </tr><tr>
                          <th>119</th><th> </th><td class="l"><del>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &lt;/ul&gt;</del> </td>
                  </tr><tr class="last">
                          <th>120</th><th> </th><td class="l"><del>&nbsp; &nbsp; &nbsp; &nbsp; &lt;/div&gt;</del> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>121</th><th>151</th><td class="l"><span></span> </td>
                  </tr><tr>
                          <th>122</th><th>152</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &lt;div id="Page"&gt;</span> </td>
                  </tr>
            </tbody>
        </table>
      </li>
  </ul>
</div>
      </div>
    </div>
    <div id="altlinks">
      <h3>Download in other formats:</h3>
      <ul>
        <li class="first">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/093571abf748ac14e0ecc8f5617c52ac6fa82284/system/application/views/frames/office_frame.php?format=diff&new=093571abf748ac14e0ecc8f5617c52ac6fa82284" class="diff">Unified Diff</a>
        </li><li class="last">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/093571abf748ac14e0ecc8f5617c52ac6fa82284/system/application/views/frames/office_frame.php?format=zip&new=093571abf748ac14e0ecc8f5617c52ac6fa82284" class="zip">Zip Archive</a>
        </li>
      </ul>
    </div>
    </div>
    <div id="footer" lang="en" xml:lang="en"><hr />
      <a id="tracpowered" href="http://trac.edgewall.org/"><img src="../../../../../../chrome/common/trac_logo_mini.png" height="30" width="107" alt="Trac Powered" /></a>
      <p class="left">
        Powered by <a href="../../../../../../about.html"><strong>Trac 0.11.1</strong></a><br />
        By <a href="http://www.edgewall.org/">Edgewall Software</a>.
      </p>
      <p class="right">Visit the Trac open source project at<br /><a href="http://trac.edgewall.org/">http://trac.edgewall.org/</a></p>
    </div>
  </body>
</html>