<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  

  


  

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      Changeset 491bfe1f7619eec30370e3b588656e16de9660dc for system/application/views/crosswords/crossword.php –
      The Yorker
    </title>
        <link rel="search" href="../../../../../../search.html" />
        <link rel="help" href="../../../../../../wiki/TracGuide.html" />
        <link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/491bfe1f7619eec30370e3b588656e16de9660dc/system/application/views/crosswords/crossword.php?format=diff&new=491bfe1f7619eec30370e3b588656e16de9660dc" type="text/plain" class="diff" title="Unified Diff" /><link rel="alternate" href="http://dev2.theyorker.co.uk/trac/changeset/491bfe1f7619eec30370e3b588656e16de9660dc/system/application/views/crosswords/crossword.php?format=zip&new=491bfe1f7619eec30370e3b588656e16de9660dc" type="application/zip" class="zip" title="Zip Archive" />
        <link rel="next" href="http://dev2.theyorker.co.uk/trac/changeset/6e2c86c9a08b0e018aa9918ae55993be5e7d4037/system/application/views/crosswords/crossword.php" title="Changeset 6e2c86c9a08b0e018aa9918ae55993be5e7d4037 for system/application/views/crosswords/crossword.php" />
        <link rel="start" href="../../../../../../wiki.html" />
        <link rel="stylesheet" href="../../../../../../chrome/common/css/trac.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/changeset.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/diff.css" type="text/css" /><link rel="stylesheet" href="../../../../../../chrome/common/css/code.css" type="text/css" />
        <link rel="prev" href="http://dev2.theyorker.co.uk/trac/changeset/13db519cb9e80ec7e8e413428daea3a01f8c4f72/system/application/views/crosswords/crossword.php" title="Changeset 13db519cb9e80ec7e8e413428daea3a01f8c4f72 for system/application/views/crosswords/crossword.php" />
        <link rel="shortcut icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
        <link rel="icon" href="../../../../../../chrome/common/trac.ico" type="image/x-icon" />
      <link type="application/opensearchdescription+xml" rel="search" href="../../../../../../search/opensearch" title="Search The Yorker" />
    <script type="text/javascript" src="../../../../../../chrome/common/js/jquery.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/trac.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/search.js"></script><script type="text/javascript" src="../../../../../../chrome/common/js/diff.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/trac/chrome/common/js/ie_pre7_hacks.js"></script>
    <![endif]-->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("li.entry h2 a").parent().addAnchor("Link to this diff");
      });
    </script>
  </head>
  <body>
    <div id="banner">
      <div id="header">
        <a id="logo" href="../../../../../../../trac.html"><img src="../../../../../../../apps-logo.png" alt="The Yorker" /></a>
      </div>
      <form id="search" action="/trac/search" method="get">
        <div>
          <label for="proj-search">Search:</label>
          <input type="text" id="proj-search" name="q" size="18" value="" />
          <input type="submit" value="Search" />
        </div>
      </form>
      <div id="metanav" class="nav">
    <ul>
      <li class="first">logged in as nick_evans</li><li><a href="../../../../../../../trac.html">Logout</a></li><li><a href="../../../../../../prefs.html">Preferences</a></li><li><a href="../../../../../../wiki/TracGuide.html">Help/Guide</a></li><li class="last"><a href="../../../../../../about.html">About Trac</a></li>
    </ul>
  </div>
    </div>
    <div id="mainnav" class="nav">
    <ul>
      <li class="first"><a href="../../../../../../wiki.html">Wiki</a></li><li><a href="../../../../../../timeline.html">Timeline</a></li><li><a href="../../../../../../roadmap.html">Roadmap</a></li><li class="active"><a href="../../../../../../browser.html">Browse Source</a></li><li><a href="../../../../../../report.html">View Tickets</a></li><li><a href="../../../../../../newticket.html">New Ticket</a></li><li class="last"><a href="../../../../../../search.html">Search</a></li>
    </ul>
  </div>
    <div id="main">
      <div id="ctxtnav" class="nav">
        <h2>Context Navigation</h2>
          <ul>
            <li class="first "><span>&larr; <a class="prev" href="http://dev2.theyorker.co.uk/trac/changeset/13db519cb9e80ec7e8e413428daea3a01f8c4f72/system/application/views/crosswords/crossword.php" title="Changeset 13db519cb9e80ec7e8e413428daea3a01f8c4f72 for system/application/views/crosswords/crossword.php">Previous Change</a></span></li><li class="last"><span><a class="next" href="http://dev2.theyorker.co.uk/trac/changeset/6e2c86c9a08b0e018aa9918ae55993be5e7d4037/system/application/views/crosswords/crossword.php" title="Changeset 6e2c86c9a08b0e018aa9918ae55993be5e7d4037 for system/application/views/crosswords/crossword.php">Next Change</a> &rarr;</span></li>
          </ul>
        <hr />
      </div>
    <div id="content" class="changeset">
      <div id="title">
        <h1>
          Changeset <a title="Show full changeset" href="../../../../../491bfe1f7619eec30370e3b588656e16de9660dc.html">491bfe1f7619eec30370e3b588656e16de9660dc</a>
          for <a title="Show entry in browser" href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=491bfe1f7619eec30370e3b588656e16de9660dc.html">system/application/views/crosswords/crossword.php</a>
        </h1>
      </div>
      <form id="prefs" action="">
        <div>
    <label for="style">View differences</label>
    <select id="style" name="style">
      <option selected="selected" value="inline">inline</option>
      <option value="sidebyside">side by side</option>
    </select>
    <div class="field">
      Show <input type="text" name="contextlines" id="contextlines" size="2" maxlength="3" value="2" />
      <label for="contextlines">lines around each change</label>
    </div>
    <fieldset id="ignore">
      <legend>Ignore:</legend>
      <div class="field">
        <input type="checkbox" id="ignoreblanklines" name="ignoreblanklines" />
        <label for="ignoreblanklines">Blank lines</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorecase" name="ignorecase" />
        <label for="ignorecase">Case changes</label>
      </div>
      <div class="field">
        <input type="checkbox" id="ignorewhitespace" name="ignorewhitespace" />
        <label for="ignorewhitespace">White space changes</label>
      </div>
    </fieldset>
    <div class="buttons">
      <input type="submit" name="update" value="Update" />
    </div>
        </div>
      </form>
      <dl id="overview">
          <dt class="property time">Timestamp:</dt>
          <dd class="time">04/04/09 13:09:25 (<a class="timeline" href="../../../../../../timeline-from=2009-04-04T13-09-25Z+0000&precision=second.html" title="2009-04-04T13:09:25Z+0000 in Timeline">6 years</a> ago)</dd>
          <dt class="property author">Author:</dt>
          <dd class="author">James Hogan &lt;james_hogan@…&gt;</dd>
              <dt class="property">Parents:</dt>
              <dd><a class="changeset" href="../../../../../9be2e497c8bc987c42963d2a517c6b8d7bc67067.html" title="Make 'across' and 'down' clue titles lowercase">9be2e497c8bc987c42963d2a517c6b8d7bc67067</a></dd>
              <dt class="property">Children:</dt>
              <dd><a class="changeset" href="../../../../../6e2c86c9a08b0e018aa9918ae55993be5e7d4037.html" title="Add little crossword picture on public crossword list">6e2c86c9a08b0e018aa9918ae55993be5e7d4037</a></dd>
              <dt class="property">git-committer:</dt>
              <dd>James Hogan &lt;james_hogan@theyorker.co.uk&gt; / 2009-04-04T14:09:25Z+0100</dd>
          <dt class="property message">Message:</dt>
          <dd class="message searchable">
            
            
              <p>
Dynamic reloading of winners list, especially when submit a winning crossword.<br />
</p>
<p>
updated every 60 seconds<br />
new names get highlighted until the next reload<br />
stops reloading (or doesn't in the first place) if crossword expired<br />
</p>

            
            
          </dd>
        <dt class="property files">Files:</dt>
        <dd class="files">
          <div class="legend" id="file-legend">
            <dl>
              <dt class="mod"></dt><dd>1 modified</dd>
            </dl>
          </div>
          <br />
          <ul>
            <li>
          <div class="mod"> </div>
            <a title="Show entry in browser" href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=491bfe1f7619eec30370e3b588656e16de9660dc.html">
              system/application/views/crosswords/crossword.php
            </a>
          <span class="comment">(modified)</span>
              (<a title="Show differences" href="crossword.php.html#file0">4 diffs</a>)
            </li>
          </ul>
        </dd>
      </dl>
      <div class="diff">
        <div class="legend" id="diff-legend">
          <h3>Legend:</h3>
          <dl>
            <dt class="unmod"></dt><dd>Unmodified</dd>
            <dt class="add"></dt><dd>Added</dd>
            <dt class="rem"></dt><dd>Removed</dd>
          </dl>
        </div>
        <div class="diff">
  <ul class="entries">
      <li class="entry">
        <h2 id="file0">
          <a title="Show the changeset 491bfe1f7619eec30370e3b588656e16de9660dc restricted to system/application/views/crosswords/crossword.php" href="crossword.php.html">system/application/views/crosswords/crossword.php</a>
        </h2>
        <table class="inline" summary="Differences" cellspacing="0">
              <colgroup><col class="lineno" /><col class="lineno" /><col class="content" /></colgroup>
              <thead>
                <tr>
                  <th title="Revision 13db519cb9e80ec7e8e413428daea3a01f8c4f72">
                    <a title="Show revision 13db519cb9e80ec7e8e413428daea3a01f8c4f72 of this file in browser" href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=13db519cb9e80ec7e8e413428daea3a01f8c4f72.html#L11">
                      r13db5</a>
                  </th>
                  <th title="Revision 491bfe1f7619eec30370e3b588656e16de9660dc">
                    <a title="Show revision 491bfe1f7619eec30370e3b588656e16de9660dc of this file in browser" href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=491bfe1f7619eec30370e3b588656e16de9660dc.html#L11">
                      r491bf</a>
                  </th>
                  <th> </th>
                </tr>
              </thead>
            <tbody class="unmod">
                  <tr>
                          <th>11</th><th>11</th><td class="l"><span>&nbsp;*/</span> </td>
                  </tr><tr>
                          <th>12</th><th>12</th><td class="l"><span></span> </td>
                  </tr>
            </tbody><tbody class="add">
                  <tr class="first">
                          <th> </th><th>13</th><td class="r"><ins>$autosave_interval = 30; // seconds</ins> </td>
                  </tr><tr>
                          <th> </th><th>14</th><td class="r"><ins>$winners_update_interval = 60; // seconds</ins> </td>
                  </tr><tr class="last">
                          <th> </th><th>15</th><td class="r"><ins></ins> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>13</th><th>16</th><td class="l"><span>$width = $Grid-&gt;crossword()-&gt;grid()-&gt;width();</span> </td>
                  </tr><tr>
                          <th>14</th><th>17</th><td class="l"><span>$height = $Grid-&gt;crossword()-&gt;grid()-&gt;height();</span> </td>
                  </tr>
            </tbody>
              <tbody class="skipped">
                <tr>
                  <th><a href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=13db519cb9e80ec7e8e413428daea3a01f8c4f72.html#L17">…</a></th>
                  <th><a href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=491bfe1f7619eec30370e3b588656e16de9660dc.html#L20">…</a></th>
                  <td> </td>
                </tr>
              </tbody>
            <tbody class="unmod">
                  <tr>
                          <th>17</th><th>20</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; 'onLoadFunctions.push(function() {'.</span> </td>
                  </tr><tr>
                          <th>18</th><th>21</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 'var xw =new Crossword("xw", '.js_literalise($width).', '.js_literalise($height).');'.</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>19</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ($LoggedIn ? 'xw.setAutosaveInterval('.js_literalise($Paths['ajax']).', 30);' : '').</span> </td>
                      </tr>
                      <tr>
                        <th> </th><th>22</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ($LoggedIn ? 'xw.setAutosaveInterval('.js_literalise($Paths['ajax']).', '.js_literalise($autosave_interval).');' : '').</span> </td>
                      </tr><tr class="last">
                        <th> </th><th>23</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ($Crossword['expired'] ? '' : 'xw.setWinnersUpdateInterval('.js_literalise($Paths['ajax'].'/winners').', '.js_literalise($winners_update_interval).');').</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>20</th><th>24</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; '})'</span> </td>
                  </tr><tr>
                          <th>21</th><th>25</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; ,false));</span> </td>
                  </tr>
            </tbody>
              <tbody class="skipped">
                <tr>
                  <th><a href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=13db519cb9e80ec7e8e413428daea3a01f8c4f72.html#L34">…</a></th>
                  <th><a href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=491bfe1f7619eec30370e3b588656e16de9660dc.html#L38">…</a></th>
                  <td> </td>
                </tr>
              </tbody>
            <tbody class="unmod">
                  <tr>
                          <th>34</th><th>38</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</span> </td>
                  </tr><tr>
                          <th>35</th><th>39</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else {</span> </td>
                  </tr>
            </tbody><tbody class="mod">
                      <tr class="first">
                        <th>36</th><th> </th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ?&gt;&lt;ol<del></del>&gt;&lt;?php</span> </td>
                      </tr>
                      <tr class="last">
                        <th> </th><th>40</th><td class="r"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ?&gt;&lt;ol<ins>&nbsp;id="xw-winners"</ins>&gt;&lt;?php</span> </td>
                      </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>37</th><th>41</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; // Display all positions if not expired yet</span> </td>
                  </tr><tr>
                          <th>38</th><th>42</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $max = $Crossword['winners'];</span> </td>
                  </tr>
            </tbody>
              <tbody class="skipped">
                <tr>
                  <th><a href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=13db519cb9e80ec7e8e413428daea3a01f8c4f72.html#L48">…</a></th>
                  <th><a href="../../../../../../browser/system/application/views/crosswords/crossword.php-rev=491bfe1f7619eec30370e3b588656e16de9660dc.html#L52">…</a></th>
                  <td> </td>
                </tr>
              </tbody>
            <tbody class="unmod">
                  <tr>
                          <th>48</th><th>52</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; $winner = $Winners[$id];</span> </td>
                  </tr><tr>
                          <th>49</th><th>53</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; echo(xml_escape($winner['firstname'].' '.$winner['surname']));</span> </td>
                  </tr>
            </tbody><tbody class="add">
                  <tr class="first">
                          <th> </th><th>54</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</ins> </td>
                  </tr><tr>
                          <th> </th><th>55</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; else {</ins> </td>
                  </tr><tr class="last">
                          <th> </th><th>56</th><td class="r"><ins>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; echo('&amp;nbsp;');</ins> </td>
                  </tr>
            </tbody><tbody class="unmod">
                  <tr>
                          <th>50</th><th>57</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; }</span> </td>
                  </tr><tr>
                          <th>51</th><th>58</th><td class="l"><span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ?&gt;&lt;/li&gt;&lt;?php</span> </td>
                  </tr>
            </tbody>
        </table>
      </li>
  </ul>
</div>
      </div>
    </div>
    <div id="altlinks">
      <h3>Download in other formats:</h3>
      <ul>
        <li class="first">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/491bfe1f7619eec30370e3b588656e16de9660dc/system/application/views/crosswords/crossword.php?format=diff&new=491bfe1f7619eec30370e3b588656e16de9660dc" class="diff">Unified Diff</a>
        </li><li class="last">
          <a rel="nofollow" href="http://dev2.theyorker.co.uk/trac/changeset/491bfe1f7619eec30370e3b588656e16de9660dc/system/application/views/crosswords/crossword.php?format=zip&new=491bfe1f7619eec30370e3b588656e16de9660dc" class="zip">Zip Archive</a>
        </li>
      </ul>
    </div>
    </div>
    <div id="footer" lang="en" xml:lang="en"><hr />
      <a id="tracpowered" href="http://trac.edgewall.org/"><img src="../../../../../../chrome/common/trac_logo_mini.png" height="30" width="107" alt="Trac Powered" /></a>
      <p class="left">
        Powered by <a href="../../../../../../about.html"><strong>Trac 0.11.1</strong></a><br />
        By <a href="http://www.edgewall.org/">Edgewall Software</a>.
      </p>
      <p class="right">Visit the Trac open source project at<br /><a href="http://trac.edgewall.org/">http://trac.edgewall.org/</a></p>
    </div>
  </body>
</html>